#page {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    height: 100vh;
}

#left-container,
#right-container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

.plant {
    height: calc(100vh / 7);
}

#terrarium {
    position: relative;
}

.jar-top {
    width: 70%;
    background-color: #d1e1df;
    height: 5%;
    position: absolute;
    bottom: 81.8%;
    left: 15%
}

.jar-walls {
    width: 80%;
    background-color: #d1e1df;
    height: 80%;
    margin: 10px auto;
    position: absolute;
    bottom: 0.5%;
    left: 10%;
    border-radius: 20px;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}

.jar-glossy-long {
    width: 5%;
    height: 50%;
    background-color: #fff;
    border-radius: 100px;
    margin: 0 20px;
    opacity: 0.8;

}

.jar-glossy-short {
    width: 5%;
    height: 4%;
    background-color: #fff;
    border-radius: 100px;
    margin: 0 20px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.jar-bottom {
    width: 80%;
    background-color: #3a241d;
    height: 6%;
    position: absolute;
    bottom: 2%;
    left: 10%;
    z-index: 4;
    border-radius: 0 0 20px 20px;
    opacity: 0.4;

}